.swiper-button-prev {
  transform: translateX(-50%) scale(0.8);
}
.swiper-button-next {
  transform: translateX(50%) scale(0.8);
}

/* --------------- IMG SWIPER 1 -------------- */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
